*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 16px;
    gap: 16px;
}

.item{
    height:150px;
    width:80%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
}
.texto{
    font-size: 69px;
    color: rgb(169, 152, 255);
}
.forma{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 0);
    cursor: pointer;
    transition: .5s;
}
.vermelho{
    background-color: rgb(169, 152, 255);
}
.circulo{
    border-radius: 50%;
}
.quadrado{
    transform: scale(100);
}
.quadrado2{
    transform: rotate(-600deg);
}
.foto{
    background-image: url(https://pbs.twimg.com/media/EReYOj9WAAITH4t.jpg);
    background-size: cover;
}
.desaparecer{
    opacity: 0;
}
.lugar{
    transform: rotate(-200deg);
}
.opacidade{
    opacity: 1;
}